@import './variables.scss';
.jobs{
    display: flex;
    padding: 9px 0;
    flex-direction: column;
    align-items: center;
    font-family: 'Proxima Nova', 'Roboto', 'Arial', sans-serif;
    & .jobs_item{
        width: 396px;
        margin-bottom: 8px;
        background-color: $light-gray;
        border-radius: 8px;
    }
    &_raiting{
        margin-top: 13px;
        margin-left: 101px;
        padding-top: 4px;
    }
    &_date{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        margin-left: 101px;
        text-align: right;
        color: $gray;
        margin-right: 16px;
    }
    & .jobs_card-header {
        padding-bottom: 0;
    }
    & .jobs_avatar{
        margin: -44px 0 0 0;
        width: 66px;
        height: 66px;
    }
    &_title{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $blue;
        max-width: 712px;
    }
    & .jobs_card-conent {
       padding: 8px 0 26px 100px;
    }
    & .jobs_location__text{
        font-family: 'Proxima Nova', 'Roboto', 'Arial', sans-serif;
        color: $gray;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        display: flex;
        align-items: flex-end;
    }
}

@media (min-width: 600px) {
    .jobs{
        padding: 33px 33px 45px;
        & .jobs_item{
            width: 90%;
            min-width: 590px;
            max-width: 1400px;
            background-color: $white;
            padding: 24px 31px 24px 16px;
            position: relative;
        }
        &_raiting{   
            position: absolute;
            top: 73px;
            right: 186px;
            width: 96px;
            height: 18px;
            padding: 0;  
            margin: 0;       
        }
        &_date{
            position: absolute;
            right: 0px;
            bottom: 22px;  
        }
        & .jobs_card-header{
            padding: 0;
        }
        & .jobs_avatar{
            margin: 0;
            width: 85px;
            height: 85px;
        }
        &_title{
            font-weight: 700;
            font-size: 20px;
            color: $blue;
            max-width: 712px;
            padding-bottom: 8px;
        }
        & #jobs_card-conent{
            padding: 0 0 7px 103px;
        }
        &_saveIcon {
            position: absolute;
            top: 24px;
            right: 16px;
            &:hover {
                stroke: $light-gray;
                cursor: pointer;
            }
        }
        & .jobs_location {
            &__text{
                font-size: 16px;
                line-height: 25px;
                align-items: normal;
            }
        }
    }
}

@media (min-width: 996px) {
    .jobs{
        & .jobs_item{
           width: 90%;
        }
    }
}